	<footer class="footer">
		<div class="container">
			<div class="footer__inner">
				<div class="footer__text">
					<div>ООО «ФËРСТ ЭЛЕМЕНТ»</div>
					<div>Лицензия от 26.02.2021 г. (решение о выдаче лицензии № 56 от 18.02.2021 г.)</div>
					<div>Общий процент выигрыша (теоретический возврат игроку) 94%-98%</div>
				</div>
				<div class="footer__copyrights">
					<div>21+ ©️ 2021 first.ua Все права защищены.</div>
				</div>
			</div>
		</div>
	</footer>

	</div><!-- site end -->

	<!-- @@include('modals.html') -->

	<!-- <script src="jquery.min.js"></script> -->
	<script src="js/vendor.js"></script>
	<script src="js/index.js"></script>
	</body>

</html>